<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand fw-bold text-primary" href="/home">
      <img class="footer-logo" src="logos/NEGATIVO B_N  SIN FONDO.png" alt="icono-app">
    </a>

    <!-- Botón colapsable -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/graficos" routerLinkActive="active">Gráficos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/nuevomesociclo" routerLinkActive="active">Nuevo mesociclo</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/editarmesociclo" routerLinkActive="active">Mesociclo</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" routerLink="/medidas" routerLinkActive="active">Medidas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

